@import "tailwindcss";
@import "dither-plugin";

body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("/src/assets/outer-wilds-4k.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden; 
}

/* Esconde cursores em dispositivos que não têm hover (celulares/tablets) */
@media (hover: none) {
  .cursor, .cursor-label {
    display: none !important;
  }
}

/* Proteção extra para não criar scroll lateral */
body {
  overflow-x: hidden;
  width: 100%;
}
