@import "tailwindcss";

@theme {
  --image-outer-wilds: url("/outer-wilds-4k.png");
}

body {
    min-height: 100dvh;
    position: relative;
    background-color: black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url("/outer-wilds-4k.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
    will-change: transform; 
}

/* Esconde cursores em dispositivos que não têm hover (celulares/tablets) */
@media (hover: none) {
  .cursor, .cursor-label {
    display: none !important;
  }
}

/* Proteção extra para não criar scroll lateral */
body {
  overflow-x: hidden;
  width: 100%;
}
