---
import Layout from '../../layouts/Layout.astro';
import AdminForm from '../../components/AdminForm.astro';
---

<Layout title="Criar Nova Review">
  <main class="min-h-screen p-8">
    <div class="mb-4 flex justify-between items-center max-w-4xl mx-auto">
      <a href="/" class="font-mono text-sm underline text-white hover:text-blue-600">
        &lt; Voltar para Home
      </a>
    </div>
    
    <AdminForm />
  </main>
</Layout>