---
import Layout from '../../layouts/Layout.astro';
import AdminForm from '../../components/AdminForm.astro';
---

<Layout title="Criar Nova Review">
  <main class="min-h-screen p-8 flex flex-col justify-center bg-stone-200">
    <div class="mb-4">
      <a href="/" class="font-mono text-sm underline hover:text-blue-600">
        &lt; Voltar para Home
      </a>
    </div>
    
    <AdminForm />
  </main>
</Layout>